*
	padding: 0
	margin: 0
	box-sizing: border-box
	font-family: 'Roboto', sans-serif
	scroll-behavior: smooth

$bgColor: #546A7B 
$textColor: #FDFDFF

body, html
	overflow-x: hidden

.circleIcons
	background: #173D13
	width: 1.4em
	height: 1.4em
	border-radius: 50%
	line-height: 1.4em
	vertical-align: middle
	padding-top: .2em
	display: block
/*  */

.BGconfig
	min-height: 100vh
	width: 100%
	background-attachment: fixed
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	position: relative
	margin: 0
	padding: 0

.BGconfigMenu
	height: 100%
	width: 100%
	background-attachment: fixed
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	position: relative
	margin: 0


/* for Homepage */

#topHero-homepage
	background-image: url("../../assets/images/imgPizzaBanner.png")

	@extend .BGconfig

#topHero-about
	background-image: url("../../assets/images/imgPizzaBanner1.png")

	@extend .BGconfig

#topHero-contact
	background-image: url("../../assets/images/imgContactBanner2.png")

	@extend .BGconfig

#topHero-gallery
	background-image: url("../../assets/images/imgContact1.png")

	@extend .BGconfig

.hero-image
	background-image: linear-gradient(rgba(226,226,226,1) 0%, rgba(219,219,219,0.59) 50%, rgba(209,209,209,0.58) 51%, rgba(254,254,254,0.17) 100%), url("../../assets/images/imgPizza.jpg")

	@extend .BGconfig

#menuBG-homepage
	background-image: url("../../assets/images/imgPizza6.jpg")

	@extend .BGconfig

#portfolioBG
	background-image: url("../../assets/images/portfolioBG2.jpg")

	@extend .BGconfig



/* background */

#homepageLogo
	height: 18em
	widht: 18em

.topBanner
	height: 15em

.topHeroText
	background-color: white
	text-align: center
	height: 8em
	width: 10em
	position: relative
	line-height: 8em
	top: 0

.topHeroText-about
	text-align: center
	position: relative

.topHeroText-contact
	text-align: center
	position: relative

.btnHome
	width: 8em

.iconsHome
	font-size: 2em

.testImgHolder-homepage
	padding: 0 !important

.secondrowImages
	height: 40em

.textAbout
	height: 20em
	width: 20em

.imgAbout
	height: 20em
	width: 20em

.wrapper
	height: 100%

.contentWrapper > div
	height: 25em
	width: 40em 

#logo-navbar
	height: 5em
	width: 5em

#menuContainer
	background: rgb(0,0,0, .8)
	padding: 5em
	height: auto

#menuborder
	color: white

#supremeBG
	background-image: url("../../assets/images/imgPizza.jpg")

	width: 100%
	height: 8em !important
	background-attachment: scroll !important
	position: relative !important
	line-height: 8em


	@extend .BGconfigMenu

#supremeBG, #beefBG, #hawaiianBG, #vegetarianBG > h2
	color: yellow

#beefBG
	background-image: url("../../assets/images/imgPizza4.jpg")

	width: 100%
	height: 8em
	background-attachment: scroll !important
	position: relative !important

	@extend .BGconfigMenu

#hawaiianBG
	background-image: url("../../assets/images/imgPizza7.jpg")

	width: 100%
	height: 8em
	background-attachment: scroll !important
	position: relative !important

	@extend .BGconfigMenu

#vegetarianBG
	background-image: url("../../assets/images/imgPizza6.jpg")

	width: 100%
	height: 8em
	background-attachment: scroll !important
	position: relative !important

	@extend .BGconfigMenu

.menuitems
	border-bottom: 1px dotted gray
	text-align: center
	margin-bottom: 1	em
	margin-top: 1em

/* -- for testi*/



.imgPortfolio
	display: block
	position: relative
	border-radius: 50%
	width: 15em
	height: 15em
	border: 10px solid white
	margin: 2em 0 5em 0
	text-align: center 

#carouselPortfolio
	min-height: 100vh
	background-color: #C4D7C2
	padding: 5em

#aboutme
	margin-bottom: 5em

#mySkills
	margin-bottom: 5em

hr
	display: block
	margin: 0.5em auto 0.5em auto
	border-style: inset
	border-width: .1em

.carouselItem
	height: 50vh

.skillsIcons
	font-size: 6em
	color: #264923
	background-color: #C4D7C2
	border: none

.skillsIcons-holder
	background-color: #C4D7C2
	border-style: none

.skillSTitle
	font-weight: bold

.hobbiesIcons
	font-size: 4em
	color: #C4D7C2

.checked
	color: #4A2D17 

.hobbiesTitles
	font-size: 1em

.hobbiesHolder > div 
	display: inline-block

.portfolioaboutTitles
	color: #405E3D
	font-size: 2em
	margin-bottom: 2em

.portfolioContactTitles
	color: white
	font-size: 2.5em

.portfolioContactTitles2
	color: black
	font-size: 2.5em

.carouselIcons
	font-size: 2rem
	color: black

.myNavbar
	background-color: #173D13
	height: auto
	width: auto
	padding: 0
	margin: 0
	color: white !important

.footer
	background-color: #173D13

.navbarList > li
	color: white
	

#contactLeft
	height: 70vh
	width: 100%
	background-color: #173D13
	color: white

#contactRight
	height: 70vh
	width: 100%
	background-color: #E6EDE6

.contactButton
	background-color: #173D13

.titleDots
	font-size: 3em
	color: #4A2D17

.titleDots2
	font-size: 3em
	color: white

.btaCTA1
	width: 15em
	height: 3em
	background-color: #173D13
	color: white

.btaCTA2
	width: 15em
	height: 3em
	background-color: #4A2D17
	color: white

/* For project button *?
.btaCTA3
	width: 10rem
	height: 3rem
	background-color: #173D13
	color: white
/* For project button *?

#projects
	background-image: url("../../assets/images/PortfolioBG.jpg")
	padding-top: 3em
	padding-bottom: 3em

	@extend .BGconfig

#topHero-portfolio
	min-height: 100vh
	width: 100%

/* Testi Carousal */

#carouselHome
	min-height: 50%

#quote-carousel
	padding: 0 10px 30px 10px
	margin-top: 60px

#carouselPrev-home
	background: none
	color: #CACACA
	font-size: 2.3em
	text-shadow: none
	margin-top: 3em

#carouselNext-home
	background: none
	color: #CACACA
	font-size: 2.3em
	text-shadow: none
	margin-top: 3em

#carouselIndicators-home
	position: relative
	right: 50%
	top: auto
	bottom: 0px
	margin-top: 20px
	margin-right: -19px


#carouselIndicators-home li
	width: 5em
	height: 5em
	border: 1px solid #ccc
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1)
	border-radius: 50%
	opacity: 0.4
	overflow: hidden
	transition: all .4s ease-in
	display: inline-block

#carouselIndicators-home li img
	display: block
	height: 10em
	width: 40em

#carouselIndicators-home .active
	width: 9em
	height: 9em
	opacity: 1
	transition: all .2s

.imgCard
	width: auto
	height: 15em

#landingpageLogo
	width: 20rem
	height: 20rem	

@media (max-width: 568.98px)
	.landingpageContainer > h1
		font-size: 3em

	.landingpageContainer > p
		font-size: 1em

	.landingpageContainer > a
		width: 8em
		height: 3em
		font-size: 1em

@media (max-width: 568.98px)
	.indexContent > div > p
		font-size: .6em

.contentBoxes-about
	height: 30em
	width: 100%
	margin: 0
	padding: 0
	overflow: hidden

#content-about
	width: auto
	min-height: 100vh
	margin-top: 5em
	margin-bottom: 5em

#imgGoogleMap
	height: 100%
	width: 100%

.imgsAbout
	height: 100%
	width: 100%